.slide {
  min-width: 400px !important;
  flex-shrink: 0;
  img {
    max-width: unset;
    max-height: 100%;
  }
}
.row {
  flex-wrap: nowrap !important;
  max-width: 100%;
}

.container {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
