.slide {
  width: auto;
  flex-shrink: 0;
  max-width: 100%;
  img {
    max-width: unset;
    max-height: 100%;
  }
}
.row {
  display: flex;
  flex-wrap: nowrap !important;
  max-width: 100%;
}

.container {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 100%;
  padding: 20px 20px;
  margin: 0;
  box-sizing: border-box;
}
