.text {
  color: #212121;
  line-height: 20px;
  font-size: 16px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  max-height: 40px;
  transition: all 0.5s;
}

.textExpend {
  max-height: 300px;
}
.content {
  word-break: break-all;
  transition: all 0.5s;
}

.ellipsis {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.inline {
  display: inline;
}

.moreText {
  color: #999;
}
.dot {
  color: #212121;
}

.arrow {
  display: inline-block;
  margin-left: 2px;
}

.expended {
  float: right;
  .arrow {
    transform: rotateZ(-90deg);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
