/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.feature {
  padding: 0 15px 15px;
  border-radius: 4px;
  min-width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.row {
  justify-content: space-between;
}
